.Button {
  border-color: #000 !important;
  border-radius: 0 !important;
  color: #000 !important;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
}
.Button:hover {
  border-color: #5aee87 !important;

  color: #5aee87 !important;
}
