.CartItem {
  .Brand {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 27px;
  }
  .Name {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 27px;
  }
  .Price {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
  }

  .AtributeName {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
  }
  .QantityAndImageBox {
    width: 100%;
    height: 100%;
    .QuantityBox {
      position: relative;
      .Quantity {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 160%;

        text-align: center;

        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
